@black: rgba(31, 30, 30, 1);
@gray-bg: rgba(222, 222, 222, 1);
@black-disabled: rgba(191, 191, 191, 1);
@blue-hover: #246db3;
@blue: #177ee6;

@font-Stolzl: "Stolzl", serif;
@font-StolzlBold: "StolzlBold", serif;
@font-StolzlBook: "StolzlBook", serif;
@font-StolzlRegular: "StolzlRegular", serif;
@font-StolzlLight: "StolzlLight", serif;

@font-RFDewiBlack: "RFDewiBlack", serif;
@font-RFDewiRegular: "RFDewiRegular", serif;
@font-RFDewiLight: "RFDewiLight", serif;
@font-RFDewiBold: "RFDewiBold", serif;