.main{
    display: flex;
  flex-direction: column;
  max-width: 1334px;
  width: 100%;
  color:@black;

    h1{
        font-family:@font-NextBold;
        font-size: 60px;
        padding-left:296px;
        margin-bottom:0px;
        line-height: 55px;
        margin-top: 10px;

        .evalution {
            margin-left:0px;
            margin-bottom:5px;
            margin-top:0px;
        
        }

        .podpis{
            font-family: @font-NextLight;
        }

    }

    h6{
        font-family:@font-Next;
        font-size: 14px;
        padding-left:296px;
        margin-top:0px;
        line-height: 55px;
    }

    br{
        padding:10px;
    }

}
