.main{
    display: flex;
  flex-direction: column;
  max-width: 1334px;
  width: 100%;
  color:@black;
  z-index:1;

    h1{
        font-family:@font-NextBold;
        font-size: 60px;
        padding-left:296px;
        margin-bottom:0px;
        line-height: 55px;
        margin-top: 10px;

        .evalution {
            margin-left:0px;
            margin-bottom:5px;
            margin-top:0px;
        
        }

        .podpis{
            font-family: @font-NextLight;
        }

    }

    h6{
        font-family:@font-Next;
        font-size: 14px;
        padding-left:296px;
        margin-top:0px;
        line-height: 55px;
    }

    br{
        padding:10px;
    }

    .button-evalution{
        z-index:1;
        background-color:@blue;
        font-family: @font-Next;
        padding: 0.9375rem 2.5rem;
        margin-left:294px;
        margin-top:-20px;
        margin-bottom:60px;
        border: none;
        border-radius: 25px;
      
        color: white;
        font-size: 1rem /* 16px */;

        &:active,
        &:hover{
          background-color: @black;
        }
    
}

.evaluting{
    z-index: 99999;

    #myBtn {
        background-color:@blue;
        font-family: @font-Next;
        padding: 0.9375rem 2.5rem;
        margin-left:294px;
        margin-top:-20px;
        margin-bottom:60px;
        border: none;
        border-radius: 25px;
      
        color: white;
        font-size: 1rem /* 16px */;

        &:active,
        &:hover{
            cursor: pointer;
          background-color: @black;
        }
    
      }
      
      
      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 250px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      
      .modal-content {

        #progressPP {
            background: rgb(207, 207, 207);
            border-radius: 45px;
            height: 47px;
            width: 630px;
            padding: 3px;
        }
        
        #progressPP:after {
            content: '';
            display: block;
            background:@blue;
            width: 20%;
            height: 100%;
            border-radius: 45px;
        }
        
        .progress-barPP {
            position: relative;
            top:-26px;
            left:130px;

        }

        .percent{
            font-size:45px;
            font-family: @font-NextBold;
            padding-left:425px;
        }

        .snoska{
            font-size:11px;
            font-family: @font-Next;
            padding-left:275px;
            position: relative;
            top:-30px;
          //padding-top:15px;
        }

        .plashkapp{
            position: relative;
            top:-18px;
            left: 102px;
        }

        .Criteria1{
            text-align: center;
            font-size:16px;
            font-family: @font-Next;
            position: relative;
            top:-75px;
            left: 54px;
        }

        .slider {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 800px;
            height: 60px;
            padding: 30px;
            padding-left: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            box-shadow: 0px 15px 40px #b9b8b666;
            }
            .slider label {
                width: 800px;
            font-size: px;
            font-weight: 400;
            font-family: @font-NextBold;
            padding-left: 10px;
            color: black;
            }
            .slider input[type="range"] {
                width: 800px;
            height: 2px;
            background: black;
            border: none;
            outline: none;
            }

        .button-continue{
            background-color:@blue;
        font-family: @font-Next;
        padding: 0.9375rem 2.5rem;
        border: none;
        border-radius: 25px;
      position: relative;
      left:725px;
      top:79px;
        color: white;
        font-size: 1rem /* 16px */;

        &:active,
        &:hover{
            cursor: pointer;
          background-color: @black;
        }
        }

        .oneevaluting{
            position: relative;
            left:467px;
            top:-26px;
        }

        .fiveevaluting{
            position: relative;
            left:799px;
            top:-26px;
        }

          position: relative;
          background-color: #f5f5f5;
          margin: auto;
          padding: 0;
          border: 5px solid #f5f5f5;
          border-radius: 25px;
          width: 50%;
          height:500px;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s

      }
      
      
      @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
      }
      
      @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
      }
      
      
      .close {
          color: rgb(0, 0, 0);
          float: right;
          padding-right: 0px;
          font-size: 32px;
          font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }
      
      .modal-header {
          padding: 2px 16px;
          border-radius: 36px;
          color: rgb(0, 0, 0);
      }
      
      .modal-body {padding: 2px 16px;
        }
      
      .modal-footer {
          padding: 2px 16px;
          border-radius: 36px;
          background-color: #f5f5f5;
          color: rgb(0, 0, 0);
      }
}

.star1{
    margin-left:294px;
    margin-top:-36px;
    margin-bottom:34px;
}

.star2{
    margin-left:5px;
    margin-top:-36px;
    margin-bottom:34px;
}

.star3{
    margin-left:5px;
    margin-top:-36px;
    margin-bottom:34px;
}

.star4{
    margin-left:5px;
    margin-top:-36px;
    margin-bottom:34px;
}

.star5{
    margin-left:5px;
    margin-top:-36px;
    margin-bottom:34px;
    //color:#8b8b8b;
}

#progress1 {
    background: rgb(207, 207, 207);
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}


#progress1:after {
    content: '';
    display: block;
    background:@blue;
    width: 75%;
    height: 100%;
    border-radius: 9px;
}

.progress-bar1 {
    margin-left: auto;
   margin-right: -18em;
    margin-top:-22em;
    margin-bottom: 20em;
}

#progress2 {
    background: rgb(207, 207, 207);
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}


#progress2:after {
    content: '';
    display: block;
    background:@blue;
    width: 90%;
    height: 100%;
    border-radius: 9px;
}

.progress-bar2 {
    margin-left: auto;
   margin-right: -18em;
    margin-top:-22em;
    margin-bottom: 20em;
}

#progress3 {
    background: rgb(207, 207, 207);
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}


#progress3:after {
    content: '';
    display: block;
    background:@blue;
    width: 45%;
    height: 100%;
    border-radius: 9px;
}

.progress-bar3 {
    margin-left: auto;
   margin-right: -18em;
    margin-top:-22em;
    margin-bottom: 20em;
}

/*p{
    display: inline;
    max-width:451.891px;
    max-height: 44px;
    font-size:16px;
    margin-left: auto;
    margin-right: 9.543em;
    margin-top:-20em;
    margin-bottom: 20em;
}*/

.crit{
    display: inline;
    max-width:451.891px;
    max-height: 44px;
    font-size:16px;
    margin-left: auto;
    margin-right: 9.543em;
    margin-top:-20em;
    margin-bottom: 20em;
}



#progress4 {
    background: rgb(207, 207, 207);
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress4:after {
    content: '';
    display: block;
    background:@blue;
    width: 84%;
    height: 100%;
    border-radius: 9px;
}

.progress-bar4 {
    margin-left: auto;
   margin-right: -18em;
    margin-top:-22em;
    margin-bottom: 20em;
}

#progress5 {
    background: rgb(207, 207, 207);
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress5:after {
    content: '';
    display: block;
    background:@blue;
    width: 75%;
    height: 100%;
    border-radius: 9px;
}

.progress-bar5 {
    margin-left: auto;
   margin-right: -18em;
    margin-top:-22em;
    margin-bottom: 20em;
}


/*p{
    max-width:451.891px;
    max-height: 44px;
    font-size:16px;
    margin-left: auto;
    margin-right: 9.543em;
    margin-top:-20em;
   margin-bottom: 20em;
}*/

.ev{
    font-family: @font-NextBold;
    font-size:23px;
    margin-left: auto;
    margin-right: -6.5em;
    margin-top:-16em;
    margin-bottom: 18em;
}


    .ev-text{
        margin-bottom: 19.5em;
    }

 }

 .feedback{
position: relative;
bottom:300px;
z-index: 99;
height: 60px;

.feedback-card1{
    margin-left:18em;
}

.feedback-card2{
    margin-left:1em;
}

.feedback-card3{
    margin-left:1em;
}

.feedback-card4{
    margin-left:18em;
    margin-top: 1em;
}

.feedback-card5{
    margin-left:1em;
    margin-top: 1em;
}

.feedback-card6{
    margin-left:1em;
    margin-top: 1em;
}

.button-look{
align-items: center;
position: relative;
right:50em;
top: 50px;
background-color:#dddddd;
        font-family: @font-Next;
        border: none;
        border-radius: 25px;
        padding: 0.9375rem 2.5rem;
        color: white;
        font-size: 1rem /* 16px */;

        &:hover,
        &:active {
          background-color: @blue-hover;
        }
    }



    
}




