.main-section {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.main-section__block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;

  p {
    margin: 0;
    max-width: 948px;

    font-family: Gilroy, sans-serif;
    font-weight:bold;
    font-size: 2.8125rem /*45px*/;
    line-height: 3.625rem /*58px*/;
    text-align: center;
  }
}
.prepod_search{
padding:20px;
margin:80px 250px;
border: 0px; // remove default border
border-bottom:1px solid #eee; // add only bottom border
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
border-radius:35px;
width:1212px;
font-family:Gilroy;
font-size:18px;
}

.textcols {
	overflow: hidden;
}
.textcols-item {
	float: left;
	width: 30%;
	background: #fff2e1;
	margin-right: 5%;
}
.textcols .textcols-item:last-child {
	margin-right: 0;
}